---
import Layout from '../layouts/Layout.astro';

/* PALLET
#0d1b2a - Rich Black
#1b263b - Oxford Blue
#415a77 - YlnMn Blue
#778da9 - Silver Lake Blue
#e0e1dd - Platinum

API Url: https://cwwp2.dot.ca.gov/
*/
---

<Layout>
	<p>webcam page content</p>
</Layout>


<style>
	
</style>