---
import Navigation from './navigation.astro';

/* PALLET
#0d1b2a - Rich Black
#1b263b - Oxford Blue
#415a77 - YlnMn Blue
#778da9 - Silver Lake Blue
#e0e1dd - Platinum

API Url: https://cwwp2.dot.ca.gov/
*/
---
<header>
    <h1>Donner Watch</h1>
    <Navigation />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2%;
    }
</style>