<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cams">Webcams</a></li>
        <li><a href="/closures">Closures</a></li>
        <li><a href="/map">Map</a></li>
    </ul>
</nav>

<style>
    nav > ul {
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }
    nav > ul > li > a {
        color: #778da9;
        text-decoration: none;
        transition: all 0.4s linear;
    }
    nav > ul > li > a:hover {
        color: #e0e1dd;
        text-decoration: none;
        
    }
</style>